<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>
Welcome to the home page for user <%= @user.id %>, <%= @user.name %> (<%= @user.email %>).
</p>


<div id="accordion">
  <h3>My Created Events (<%= @user.events.count %>)</h3>
  <div>
	<% @user.events.each do |event| %>
      <%= render partial: 'events/event', :locals => {:event => event} %>
    <% end %>
  </div>

  <h3>Upcoming events (<%= @user.upcoming_events.count %>)</h3>
  <div>
	<% @user.upcoming_events.each do |event| %>
	  <%= render partial: 'events/event', :locals => {:event => event} %>
	<% end %>
  </div>
	
  <h3>Previously attended events (<%= @user.previous_events.count %>)</h3>
  <div>
	<% @user.previous_events.each do |event| %>
	  <%= render partial: 'events/event', :locals => {:event => event} %>
	<% end %>
  </div>  
</div>
