<div class="container">
	<h2>Events</h2>
	<div id="accordion">
	  <h3><%= (@user == current_user)?("My"):(@user.name + "'s") %> Created Events (<%= @user.events.count %>)</h3>
	  <div>
		<% @user.events.each do |event| %>
	      <%= render partial: 'events/event', :locals => {:event => event} %>
	    <% end %>
	  </div>
	
	  <h3>Upcoming events (<%= @user.upcoming_events.count %>)</h3>
	  <div>
		<% @user.upcoming_events.each do |event| %>
		  <%= render partial: 'events/event', :locals => {:event => event} %>
		<% end %>
	  </div>
		
	  <h3>Previously attended events (<%= @user.previous_events.count %>)</h3>
	  <div>
		<% @user.previous_events.each do |event| %>
		  <%= render partial: 'events/event', :locals => {:event => event} %>
		<% end %>
	  </div>  
	</div>
</div>
