<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<p>Upcoming Events:</p>
<%= @upcomingEvents.inspect %>


<p>Past Events:</p>
<%= @pastEvents.inspect %>


<!--
<% @events.each do |event| %>
  Event Name:  <%= event.name %><%= tag(:br) %>
  Date:  <%= event.date %><%= tag(:br) %>
  Location: <%= event.location %><%= tag(:br) %>
  Description: <%= event.description %><%= tag(:br) %>  
  <%= tag(:hr)%>
<% end %>
-->