<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<p>Event details</p>

Event Name:  <%= @event.name %><%= tag(:br) %>
Date:  <%= @event.date %><%= tag(:br) %>
Location: <%= @event.location %><%= tag(:br) %>
Description: <%= @event.description %><%= tag(:br) %>

Created by: <%= @creator.name %>
