<!DOCTYPE html>
<html>
<head>
  <title>Private Events</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<header class="row">
  <% unless current_user.nil? %>
	Welcome, <%= current_user.name %>
	
	<span>
		<%= link_to "My Homepage", user_path(current_user), method: :get %>		
    </span>
    
    <span>
    	<%= link_to "View All Events", events_index_path, method: :get %>
    </span>
    
    <span>
    	<% randomFriend = selectRandomUser %>
    	<%= link_to "Where is #{randomFriend.name} Going?", user_path(randomFriend), method: :get %>
    </span>
	
	<span class="logout">
    <%= link_to "Log out", logout_path, method: :delete %>
    </span>
  <% end %>
</header>
<%= yield %>

</body>
</html>
